@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<p>
        <h1 class=" text-center" style="color:white">
            Compañía distribuidora de productos Monchis S.A
            <br />
        </h1>
        <h2 class="text-center" style="color:white">
            Desarrodores:
        </h2>

        <h3 class="text-center" style="color:white">
            <br />
            Agustina Reyes
            <br />
            Kandy Mora
            <br />
            Jason Bustos
            <br />
            Wesly Solano
        </h3>


</p>

   




