@page
@model WebApplicationCore.Pages.Clientes.ClientesEditModel
@{
}

<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar" : "Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit">

                <input type="hidden" asp-for="Entity.IdCliente" v-model="Entity.IdCliente" />

                <div class="form-group mb-3">
                    <label for="Entity.Cedula" class="form-label">Cedula</label>
                    <input type="text" class="form-control" asp-for="Entity.Cedula" v-model="Entity.Cedula" maxlength="200" required />
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" v-model="Entity.Nombre" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" asp-for="Entity.Apellidos" v-model="Entity.Apellidos" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" asp-for="Entity.Direccion" v-model="Entity.Direccion" maxlength="500" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaNacimiento" class="form-label">Fecha Nacimiento</label>
                    <b-form-datepicker id="FechaNacimiento" name="FechaNacimiento" class="form-control" v-model="Entity.FechaNacimiento" required>
                    </b-form-datepicker>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" asp-for="Entity.Telefono" v-model="Entity.Telefono" maxlength="250" required>
                </div>

                <div class="form-group form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="Entity.Estado" v-model="Entity.Estado" value="true">
                    <label class="form-check-label" for="Entity_Estado">Estado</label>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-outline-primary">
                            @(Model.id.HasValue ? "Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>

</div>

@section Scripts{
    <script defer src="~/App/Clientes/ClientesEdit.js"></script>

}